* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

/*
**  h1 ELEMENT AND CHILDREN
*/
h1 {
    text-align: center;
    margin: 20px;
}

/*
** #board ELEMENT AND CHILDREN
*/
#board {
    width: 516px;
    height: 516px;

    border: 2px solid gray;
    margin: 0 auto;

    display: flex;
}

.board-row {
    width: 512px;
    height: 128px;
}

.board-square {
    border: 1px solid gray;
    width: 128px;
    height: 128px;
}

/*
** #sqr-size-config ELEMENT AND CHILDREN
*/
#sqr-num-config {
    text-align: center;
    margin-top: 15px;
}

#sqr-num-config * {
    margin-top: 5px;
}
